@media (min-width: 1494px) {
    .background{

        width: 412px;
        height: 1550px;
        
         }
   
    
    .box-info-bg{
      
        
        width: 45rem;
        height:25rem;
        left: -5rem;
        top: -1rem;
    
        border-radius: 5rem;
    
    }
    
    .box-name-holder{
            
        width: 27rem;
        height:5rem;
        left: 6rem;
        top: 1rem;
    
        border-radius: 42px;
    }
    
    .logo-person-style{
    
        width:3rem;
        height: 3rem;
        left: 7rem;
        top: 2.2rem;
    
   
    
    }
    .text-name-style{
     


        left: 11rem;
        top: 1.5rem;
        font-size:32px;
 
    
    }
    
    .box-loc-holder{
      
    

        width: 27rem;
        height: 3rem;
        left: 5rem;
        top: 7rem;
    
        border-radius: 42px;
    
    
    }
    
    .loc-logo-style{
     
    

        width: 2rem;
        height: 2rem;
        left: 7.5rem;
        top:7.5rem;
  
    
    
    }
    
    .text-loc-style{
       
        top:7rem;
      
        left: 11rem;
        font-size: 24px;
        line-height: 20px;
 
    
    
    }
    
    .box-email-holder{
      
    

        width: 25rem;
        height: 2.5rem;
        left: 6rem;
        top: 11rem;
    
        background: #9CAFAA;
        mix-blend-mode: difference;
        border-radius: 40px;
        
    
    
    }
    
    .email-logo-style{
    
    
        width: 1.5rem;
        height: 1.5rem;
        left: 7.5rem;
        top: 11.5rem;
    
    
    }
    
    .text-email-style{

        left: 11rem;
        top: 11rem;
 
        font-size: 24px;
        line-height: 36px;
    
    }
    
    .pic-container {

        width: 75%;
        height: auto;
        left:80rem;
        top: auto;
       
        
        border-radius: 100%;
    }
    
  
    
    
    .link-holder{
      

        width: 20rem;
        height: 5rem;
        left: 8rem;
        top: 15rem;

        border-radius: 5rem;
    
    
    }
    
    
    .fb-link-holder {
    

        width: 4rem;
        height: 4rem;
        left: 10rem;
        top: 15.5rem;
    
    }
    .github-link-holder {
    
        width: 4.5rem;
        height: 4.5rem;
        left: 16rem;
        top: 15.25rem;
    
      
     
        border-radius: 50px;
    }
    .linkedIn-link-holder {
    
    
        width: 4rem;
        height: 4rem;
        left: 22rem;
        top: 15.5rem;
    
    }
    
    .rect-design {
        position: absolute;
        width:10%;
        height: 101%!important;

    }
    
    
    
    .rectangle-1{
    
        left: 380%;
        height: 101%;
    
    }
    
    .rectangle-2{
    
        left: 385%;
        height: 101%;
    }
    
    .rectangle-3{
    
        left: 390%;
        height: 101%;
    
    }
    
    .rectangle-4{
    
        left: 395%;
        height: 101%;
    }
    
    .rectangle-5{
     
        left: 400%;
        height: 101%;
    
    }
    .rectangle-6 {
       
        left: 405%;
        height: 101%;
        
    }
    
    .rectangle-7 {
       
        left: 410%;
        height: 101%;
        
    }
    
    .rectangle-8 {
       
        left: 415%;
        height: 101%;
          
    }
    
    .rectangle-9{
    
        left: 420%;
        height: 101%;
        
      
    
    }


    .about-bg{
    

    left: 35rem;

    
        
    }

  
    .abstract-1 {
    
        width: 20rem;
        height:5.5rem;
        left: 27rem;
        top: 56%;
  
    }
    
    
    .abstract-2 {
    
        width: 3.3rem;
        height: 13.3rem;
        left: 27rem;
        top: 53.2%;
   
    }
    
    
    .abstract-3 {
    
        width: 25.5rem;
        height: 7.5rem;
        left: 27rem;
        top: 59%;

    }
    
    
    .abstract-4 {
    
        width: 12rem;
        height: 13.25rem;
        left: 27rem;
        top: 53%;

    }
    
    
    .abstract-5 {
    
        width: 28rem;
        height: 6rem;
        left: 33rem;
        top: 53%;
    
    }
    
    
    .abstract-6 {
    
        width: 25rem;
        height: 5.5rem;
        left: 38rem;
        top: 58.5%;
  
    }
    
    
    .abstract-7 {
    
        width: 27.5rem;
        height: 5.5rem;
        left: 39.5rem;
        top: 53%;
    }
    
    
    .abstract-8 {
    
        width: 20rem;
        height:5.5rem;
        left: 65rem;
        top: 60%;

    
    }
    
    
    .abstract-9 {
    
        width: 3.3rem;
        height: 13rem;
        left: 82rem;
        top: 53.2%;
    }
    
    
    .abstract-10 {
    
        width: 25.5rem;
        height: 7.5rem;
        left: 53.5rem;
        top: 53%;
 
    }
    
    
    .abstract-11 {
    
        width: 12rem;
        height: 13.25rem;
        left: 73.5rem;
        top: 53%;
 
    }
    
    
    .abstract-12 {
    
        width: 35rem;
        height: 6rem;
        left: 47rem;
        top: 60.5%;

    }
    
    
    .abstract-13 {
    
        width: 25rem;
        height: 5.5rem;
        left: 50rem;
        top: 56%;

    }
    
    
    .abstract-14 {
     
        width: 5.5rem;
        height: 10rem;
        left: 63rem;
        top: 56%;
    }
    
    .project-text-holder{
    
        left: 42rem;
        top: 53.5rem;
    
  
        font-weight:1;
        font-size:100px;
    }
    
    .carousel-container {
        width: 550px; 
        height: 330px;
        left: 40rem;
        top: 66rem;

        border-radius: 20px;
    }
    
    
    
    
    .lower-link-holder{
      
        width: 20rem;
        height: 5rem;
        left:48rem;
        top: 90rem;

        border-radius: 55px;
    
    
    }
    
    
    .lower-fb-link-holder {
    
        width: 4rem;
        height: 4rem;
        left: 50rem;
        top: 90.5rem;
    
    }
    .lower-github-link-holder {
    
        width: 4.5rem;
        height: 4.5rem;
        left: 55.5rem;
        top: 90.25rem;
    }
    .lower-linkedIn-link-holder {
    
        width: 4rem;
        height: 4rem;
        left: 62rem;
        top: 90.5rem;
    
      
    }
    
    
    
}    