@media (min-width: 1024px) {
    .background{

        width: 412px;
        height: 1550px;
        
         }
   
    
    .box-info-bg{
      
        
        width: 45rem;
        height:25rem;
        left: -5rem;
        top: -1rem;
    
        border-radius: 5rem;
    
    }
    
    .box-name-holder{
            
        width: 26rem;
        height:5rem;
        left: 6rem;
        top: 1rem;
    
        border-radius: 42px;
    }
    
    .logo-person-style{
    
        width:3rem;
        height: 3rem;
        left: 7rem;
        top: 2.2rem;
    
   
    
    }
    .text-name-style{
     


        left: 11rem;
        top: 1.5rem;
        font-size:32px;
 
    
    }
    
    .box-loc-holder{
      
    

        width: 27rem;
        height: 3rem;
        left: 5rem;
        top: 7rem;
    
        border-radius: 42px;
    
    
    }
    
    .loc-logo-style{
     
    

        width: 2rem;
        height: 2rem;
        left: 7.5rem;
        top:7.5rem;
  
    
    
    }
    
    .text-loc-style{
       
        top:7rem;
      
        left: 11rem;
        font-size: 24px;
        line-height: 20px;
 
    
    
    }
    
    .box-email-holder{
      
    

        width: 25rem;
        height: 2.5rem;
        left: 6rem;
        top: 11rem;
    
        background: #9CAFAA;
        mix-blend-mode: difference;
        border-radius: 40px;
        
    
    
    }
    
    .email-logo-style{
    
    
        width: 1.5rem;
        height: 1.5rem;
        left: 7.5rem;
        top: 11.5rem;
    
    
    }
    
    .text-email-style{

        left: 11rem;
        top: 11rem;
 
        font-size: 24px;
        line-height: 36px;
    
    }
    
    .pic-container {

        width: 65%;
        height: auto;
        left:60rem;
        top: auto;
       
        
        border-radius: 100%;
    }
    
  
    
    
    .link-holder{
      

        width: 20rem;
        height: 5rem;
        left: 8rem;
        top: 15rem;

        border-radius: 5rem;
    
    
    }
    
    
    .fb-link-holder {
    

        width: 4rem;
        height: 4rem;
        left: 10rem;
        top: 15.5rem;
    
    }
    .github-link-holder {
    
        width: 4.5rem;
        height: 4.5rem;
        left: 16rem;
        top: 15.25rem;
    
      
     
        border-radius: 50px;
    }
    .linkedIn-link-holder {
    
    
        width: 4rem;
        height: 4rem;
        left: 22rem;
        top: 15.5rem;
    
    }
    
    .rect-design {
        position: absolute;
        width:10%;
        background: linear-gradient(270deg, #677D6A 59.5%, #7F9A83 100%);
        mix-blend-mode: hard-light;
    }
    
    
    
    .rectangle-1{
    
        left: 275%;
        height: 101%;
    
    }
    
    .rectangle-2{
    
        left: 280%;
        height: 101%;
    }
    
    .rectangle-3{
    
        left: 285%;
        height: 101%;
    
    }
    
    .rectangle-4{
    
        left: 290%;
        height: 101%;
    }
    
    .rectangle-5{
     
        left: 295%;
        height: 101%;
    
    }
    .rectangle-6 {
       
        left: 300%;
        height: 101%;
        
    }
    
    .rectangle-7 {
       
        left: 305%;
        height: 101%;
        
    }
    
    .rectangle-8 {
       
        left: 310%;
        height: 101%;
          
    }
    
    .rectangle-9{
    
        left: 315%;
        height: 101%;
        
      
    
    }
    
    
    
    .rectangle-10{
    
        display: none;
    
    }
    
    .rectangle-11{

        display: none;
    }
    
    .rectangle-12{
    
        display: none;
    
    }
    
    .rectangle-13{
    
        display: none;
    }
    
    .rectangle-14{
     
        display: none;
    }
    .rectangle-15{
       
        display: none;
    }
    
    .rectangle-16{
       
        display: none;
    }
    
    .rectangle-17{
       
        display: none;
    }
    
    .rectangle-18{
    
        display: none;
    
    }

    .about-bg{
    
    
    width: 45rem;
    height:25rem;

    left: 20rem;
    top: 25rem;
    

    border-radius: 3rem;
    
    
        
    }
    .about-text-style{
    
    
 
        font-size:3rem;
        line-height: 5rem;
        padding-left: 4%
        
    }

    .about-content-style{

        font-size: 1.5rem;
        line-height: 45px;
    

    
    
    }
    
    .abstract-holder{
        margin-left: 35rem;
    }
  
    .abstract-1 {
    
        width: 20rem;
        height:5.5rem;
        left: 12rem;
        top: 56%;
  
    }
    
    
    .abstract-2 {
    
        width: 3.3rem;
        height: 13.3rem;
        left: 12rem;
        top: 53.2%;
   
    }
    
    
    .abstract-3 {
    
        width: 25.5rem;
        height: 7.5rem;
        left: 12rem;
        top: 59%;

    }
    
    
    .abstract-4 {
    
        width: 12rem;
        height: 13.25rem;
        left: 12rem;
        top: 53%;

    }
    
    
    .abstract-5 {
    
        width: 28rem;
        height: 6rem;
        left: 18rem;
        top: 53%;
    
    }
    
    
    .abstract-6 {
    
        width: 25rem;
        height: 5.5rem;
        left: 23rem;
        top: 58.5%;
  
    }
    
    
    .abstract-7 {
    
        width: 27.5rem;
        height: 5.5rem;
        left: 24.5rem;
        top: 53%;
    }
    
    
    .abstract-8 {
    
        width: 20rem;
        height:5.5rem;
        left: 50rem;
        top: 60%;

    
    }
    
    
    .abstract-9 {
    
        width: 3.3rem;
        height: 13rem;
        left: 67rem;
        top: 53.2%;
    }
    
    
    .abstract-10 {
    
        width: 25.5rem;
        height: 7.5rem;
        left: 38.5rem;
        top: 53%;
 
    }
    
    
    .abstract-11 {
    
        width: 12rem;
        height: 13.25rem;
        left: 58.5rem;
        top: 53%;
 
    }
    
    
    .abstract-12 {
    
        width: 35rem;
        height: 6rem;
        left: 32rem;
        top: 60.5%;

    }
    
    
    .abstract-13 {
    
        width: 25rem;
        height: 5.5rem;
        left: 35rem;
        top: 56%;

    }
    
    
    .abstract-14 {
     
        width: 5.5rem;
        height: 10rem;
        left: 48rem;
        top: 56%;
    }
    
    .project-text-holder{
    
        left: 27rem;
        top: 53.5rem;
    
  
        font-weight:1;
        font-size:100px;
    }
    
    .carousel-container {
        width: 550px; 
        height: 330px;
        left: 25.56rem;
        top: 66rem;
        position: relative;
        overflow: hidden;
    
        background: linear-gradient(0deg, #40534C 0%, #729487 78%, #8FB9A9 100%);
    
        border-radius: 20px;
    }
    
    
    
    
    .lower-link-holder{
      
        width: 20rem;
        height: 5rem;
        left:33.56rem;
        top: 90rem;
    
        background: linear-gradient(90deg, #40534C 0%, #729487 78%, #8FB9A9 100%);
        mix-blend-mode: soft-light;
        border-radius: 55px;
    
    
    }
    
    
    .lower-fb-link-holder {
    
        width: 4rem;
        height: 4rem;
        left: 36rem;
        top: 90.5rem;
    
    }
    .lower-github-link-holder {
    
        width: 4.5rem;
        height: 4.5rem;
        left: 42rem;
        top: 90.25rem;
    }
    .lower-linkedIn-link-holder {
    
        width: 4rem;
        height: 4rem;
        left: 48rem;
        top: 90.5rem;
    
      
    }
    
    
    
}    