@media (min-width: 560px) {

    .pic-container {
 
        left: 480px;
 
    }





    .rect-design {

        height: 1220px!important;
 
    }



    .rectangle-1{

        left: 630px;


    }

    .rectangle-2{

        left: 645px;
   
    }

    .rectangle-3{

        left: 660px;


    }

    .rectangle-4{

        left: 675px;
 
    }

    .rectangle-5{
    
        left: 690px;


    }
    .rectangle-6 {
    
        left: 705px;

        
    }

    .rectangle-7 {
    
        left: 720px;
    
        
    }

    .rectangle-8 {
    
        left: 735px;

        
    }

    .rectangle-9{

        left: 750px;


    }
    .rectangle-10{
    
        display: none;
    
    }
    
    .rectangle-11{

        display: none;
    }
    
    .rectangle-12{
    
        display: none;
    
    }
    
    .rectangle-13{
    
        display: none;
    }
    
    .rectangle-14{
     
        display: none;
    }
    .rectangle-15{
       
        display: none;
    }
    
    .rectangle-16{
       
        display: none;
    }
    
    .rectangle-17{
       
        display: none;
    }
    
    .rectangle-18{
    
        display: none;
    
    }
    .about-bg{


    width: 450px;
    height:300px;
    left: 155px;
    top: 235px;

        
    }

    



    .abstract-1 {

        width: 200px;
        height:55px;
        left: 100px;
        top: 580px;
        border-radius: 110px;
    }


    .abstract-2 {

        width: 33px;
        height: 133px;
        left: 100px;
        top: 552px;
        border-radius: 100px;
    }


    .abstract-3 {

        width: 255px;
        height: 75px;
        left: 100px;
        top: 610px;
        border-radius: 59px;
    }


    .abstract-4 {

        width: 120px;
        height: 135px;
        left: 85px;
        top: 550px;
        border-radius: 35px;
    }


    .abstract-5 {

        width: 280px;
        height: 60px;
        left: 160px;
        top: 550px;
        border-radius: 45px;
    }


    .abstract-6 {

        width: 250px;
        height: 55px;
        left: 210px;
        top: 605px;
        border-radius: 110px;
    }


    .abstract-7 {

        width: 275px;
        height: 55px;
        left: 225px;
        top: 550px;
        border-radius: 100px;
    }


    .abstract-8 {

        width: 200px;
        height:55px;
        left: 420px;
        top: 580px;
        border-radius: 110px;

    }


    .abstract-9 {

        width: 33px;
        height: 133px;
        left: 585px;
        top: 552px;
        border-radius: 100px;
    }


    .abstract-10 {

        width: 255px;
        height: 75px;
        left: 365px;
        top: 550px;
        border-radius: 59px;
    }


    .abstract-11 {

        width: 120px;
        height: 135px;
        left: 500px;
        top: 550px;
        border-radius: 35px;
    }


    .abstract-12 {

        width: 280px;
        height: 60px;
        left: 260px;
        top: 625px;
        border-radius: 45px;
    }


    .abstract-13 {

        width: 250px;
        height: 55px;
        left: 260px;
        top: 580px;
        border-radius: 110px;
    }


    .abstract-14 {
    
        width: 55px;
        height: 100px;
        left: 440px;
        top: 580px;
        border-radius: 100px;
    }

    .project-text-holder{

        left: 120px;
    }

    .carousel-container {
      
        left: 105px;
        top: 700px;

    }


    .lower-link-holder{
        left:250px;


    }


    .lower-fb-link-holder {


        left: 265px;

    }
    .lower-github-link-holder {

    
        left: 325px;
      
    }
    .lower-linkedIn-link-holder {

        left: 385px;


    
    }

}
